################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/POO.2022.1.ED/bin
/POO.2022.1.ED/obj
